@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

.pageContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4rem;

  .leftSide {
    @include f-column;
    .button:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  .rightSide {
    @include f-column;
    justify-content: space-between;

    .scoreContainer {
      @include f-column;
      align-items: center;
    }

    .score {
      color: $text-color;
      margin-bottom: 1.5rem;
      text-shadow: 12px 4px 11px rgba(0, 0, 0, 0.25);
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
    }
  }
}

.title {
  color: $text-color;
  text-shadow: 12px 4px 11px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  text-align: center;
  margin-bottom: 48px;
}

.button {
  min-width: 205px;
  text-align: center;
}
.hint {
  color: $text-color;
  text-shadow: 12px 4px 11px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}
