@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

.inputComponent {
  @include f-column;
  flex-direction: column-reverse;

  .label {
    color: $text-color;
    margin-left: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  .error {
    color: $error-color;
    margin-right: 1.5rem;
    display: none;
  }

  .input {
    border-radius: 100px;
    margin: 0.7rem 0;
    padding: 1rem;
    width: 30rem;
    height: 3.5rem;
    background-color: rgba(217, 217, 217, 0.57);
    border: 0;

    &:invalid {
      border: 1px solid $error-color;
    }
  }

  .input:invalid.input:not(:focus) + .label > .error {
    display: block;
  }
}
