@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

.inputComponent {
  @include f-column;

  .label {
    color: $text-color;
    margin-left: 1.5rem;
  }

  .error {
    color: $error-color;
  }

  .input {
    border-radius: 100px;
    margin: 0.7rem 0;
    padding: 1rem;
    width: 30rem;
    height: 3.5rem;
    background-color: rgba(217, 217, 217, 0.57);
    border: 0;
  }
}
