@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

.passwordEdit {
  min-height: 100vh;
  @include f-center;

  &__container {
    @include f-center;
    @include f-column;
    text-align: center;
    background: $underLayer;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    padding: 5rem;
    width: 55%;
  }

  &__title {
    color: $text-color;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__info {
    color: $text-color;
    font-size: 2rem;
    margin-bottom: 3rem;
    @include f-column;
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  &__error {
    color: $error-color;
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 1rem;
  }
}
