.button {
  background: #dbd2cd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.52);
  border-radius: 100px;
  color: rgba(13, 50, 69, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 41px;
  padding: 0 1.5rem;
}
